{% load static %}

<!DOCTYPE html>
<html>


    <head>

        {% block css_files %}

        {% endblock css_files %}

        
        {% block head_favicon %}
            
        {% endblock head_favicon %}

        
        {% block head_meta %}

            {% block head_meta_charset %}
                <meta http-equiv="Content-Type"
                      content="text/html; charset=utf-8" />
            {% endblock head_meta_charset %}

            {% block head_meta_contentlanguage %}
                <meta http-equiv="Content-Language" value="en-US" />
            {% endblock head_meta_contentlanguage %}

            {% block head_meta_viewport %}
                <meta name="viewport"
                      content="width=device-width, initial-scale=1.0">
            {% endblock head_meta_viewport %}

        {% endblock head_meta %}

    </head>

    <body>

    {% block content %}
    
    {% endblock content %}

    </body>


</html>