/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
/*===== VARIABLES CSS =====*/
:root{
  --header-height: 3rem;

  /*===== Colors =====*/
  --first-color: #E3FDF5;
  --second-color: #FFE6FA;
  --first-color-darken: #252525;
  --first-color-dark: #3C3C3C;
  --white-color: #FFFFFF;
  
  /*===== Font and typography =====*/
  --title-font: 'Dela Gothic One', cursive;
  --body-font: 'Roboto Slab', serif;
  --big-font-size: 2.5rem;
  --normal-font-size: .938rem;
  
  /*===== z index =====*/
  --z-fixed: 100;
}

@media screen and (min-width: 768px){
  :root{
    --big-font-size: 5rem;
    --normal-font-size: 1rem;
  }
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}

body{
  margin: var(--header-height) 0 0 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 500;
}

h1,h6,p,ul{
  margin: 0;
}

h6{
  margin: 0;
}

ul{
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
   
}

/*===== LAYOUT =====*/
.bd-grid{
  max-width: 1200px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: transparent;
}

/*===== NAV =====*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*===== phone screen size =====*/
@media screen and (max-width: 768px){
  .nav__menu{
    position: fixed;
    top: 0;
    right: 0%;
    width: 70%;
    height: 100%;
    padding: 3.5rem 1.5rem 0;
    backdrop-filter: blur(10px);
    transition: .3s;
  }
}

.nav__close{
  position: absolute;
  top: .75rem;
  right: 1rem; 
  font-size: 1.5rem;
  cursor: pointer;
}

.nav__item{
  margin-bottom: 2rem;
}

.nav__close, .nav__link, .nav__logo, .nav__toggle{
  color: var(--first-color-dark);
  letter-spacing: 0.1rem;
}


.nav__link:hover{
  color: var(--first-color-darken);
}

.nav__toggle{
  font-size: 1.5rem;
  cursor: pointer;
}

/*=== Show menu ===*/
.show{
  right: 0;
}

/*===== HOME =====*/
.home{
  background: linear-gradient(#E3FDF5, #FFE6FA);
  overflow: hidden;
}

.home__container{
  height: calc(100vh - var(--header-height));
  row-gap: 1.5rem;
}

/*===== pill top left =====*/
.home__img{
  position: relative;
  padding-top: 1.5rem;
  width: 50%;
  height: 50%;
  top: 0;
  right: 0;
}

.home__img img{
  position: absolute;
  top: 0;
  right: 0;
}

/*===== pill bottom right =====*/
.home__img1{
  position: relative;
  padding-top: 1.5rem;
  width: 50%;
  height: 50%;
  top: 0;
  right: 0;
}

.home__img1 img{
  position: absolute;
  top: 0;
  right: 0;
}

/*===== pill top right =====*/
.home__img2{
  position: relative;
  padding-top: 1.5rem;
  width: 50%;
  height: 50%;
  top: 0;
  right: 0;
}

.home__img2 img{
  position: absolute;
  top: 0;
  right: 0;
}

/*=====tablet big top center =====*/
.home__img3{
  position: relative;
  padding-top: 1.5rem;
  width: 80%;
  height: 80%;
  top: 0;
  right: 0;
}

.home__img3 img{
  position: absolute;
  top: 0;
  right: 0;
}

/*=====tablet big bottom left =====*/
.home__img4{
  position: relative;
  padding-top: 1.5rem;
  width: 80%;
  height: 80%;
  top: 0;
  right: 0;
}

.home__img4 img{
  position: absolute;
  top: 0;
  right: 0;
}

/*=====tablet big middle right =====*/
.home__img5{
  position: relative;
  padding-top: 1.5rem;
  width: 80%;
  height: 80%;
  top: 0;
  right: 0;
}

.home__img5 img{
  position: absolute;
  top: 0;
  right: 0;
}

/*=====tablet tiny bottom right =====*/
.home__img6{
  position: relative;
  padding-top: 1.5rem;
  width: 80%;
  height: 80%;
  top: 0;
  right: 0;
}

.home__img6 img{
  position: absolute;
  top: 0;
  right: 0;
}

/*=====tablet tiny top left =====*/
.home__img7{
  position: relative;
  padding-top: 1.5rem;
  width: 30%;
  height: 30%;
  top: 0;
  right: 0;
}

.home__img7 img{
  position: absolute;
  top: 0;
  right: 0;
}

/*=====tablet tiny bottom left =====*/
.home__img8{
  position: relative;
  padding-top: 1.5rem;
  width: 30%;
  height: 30%;
  top: 0;
  right: 0;
}

.home__img8 img{
  position: absolute;
  top: 0;
  right: 0;
}

.home__data{
  color: var(--first-color-dark);
  text-align: center;
}

.home__title{
  font-family: var(--title-font);
  font-size: 1rem;
  letter-spacing: 0.8rem;
  line-height: 1.3;
  margin-bottom: 1rem;
}

.home__description{
  font-family: var(--body-font);
  font-size: 0.5rem;
  letter-spacing: 0.2rem;
  margin-bottom: 2.5rem;
}

.home__button{
  display: inline-block;
  background-color: var(--first-color-dark);
  color: var(--white-color);
  padding: 1.125rem 2rem;
  border-radius: .5rem;
  letter-spacing: 0.1rem;
  -webkit-box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
    box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
}

.home__button:hover{
  cursor: pointer;
  -webkit-box-shadow: inset 3px 3px 6px var(--first-color-darken), inset -4px -4px 8px var(--first-color-dark);
        box-shadow: inset 3px 3px 6px var(--first-color-darken), inset -4px -4px 8px var(--first-color-dark);
}

/* ===== tablet screen size =====*/
/* ===== MEDIA QUERIES =====*/
@media screen and (min-width: 810px){
  body{
    margin: 0;
  }
  
  .nav{
    height: calc(var(--header-height) + 4.5rem);
  }

  .nav__toggle, .nav__close{
    display: none;
  }

  .nav__logo{
    margin-left: 1rem;
  }

  .nav__list{
    display: flex;
    margin-right: 1rem;
  }

  .nav__item{
    margin-left: 3rem;
    margin-bottom: 0;
  }

  .home__container{
    height: 100vh;
  }
  
  .home__data{
    position: relative;
    justify-self: center;
    top: 120%;
    left: 1.3%;
  }

  .home__title{
    font-family: var(--title-font);
    font-size: 3rem;
    letter-spacing: 0.8rem;
    line-height: 1.3;
    margin-bottom: 1rem;
  }
  
  .home__description{
    font-family: var(--body-font);
    font-size: 1rem;
    letter-spacing: 0.2rem;
    margin-bottom: 2.5rem;
  }

  /*===== pill top left =====*/
  .home__img{
    order: 1;
    width: 14%;
    height: 14%;
    top: -100px;
    left: 20px;
  }

  .home__img, img{
    object-fit: cover;
  }

  /*===== pill bottom right =====*/
  .home__img1{
    order: 1;
    width: 15%;
    height: 15%;
    top: 200px;
    left: 500px;
  }

  .home__img1, img{
    object-fit: cover;
  }

  /*===== pill top right =====*/
  .home__img2{
    order: 1;
    width: 13%;
    height: 13%;
    top: -200px;
    left: 630px;
  }

  .home__img2, img{
    object-fit: cover;
  }

  /*=====tablet big top center =====*/
  .home__img3{
    order: 1;
    width: 22%;
    height: 22%;
    top: -420px;
    left: 200px;
  }

  .home__img3, img{
    object-fit: cover;
  }

  /*=====tablet big bottom left =====*/
  .home__img4{
    order: 1;
    width: 33%;
    height: 33%;
    top: 30px;
    left: 100px;
  }

  .home__img4, img{
    object-fit: cover;
  }

  /*=====tablet big middle right =====*/
  .home__img5{
    order: 1;
    width: 25%;
    height: 25%;
    top: -180px;
    left: 630px;
  }

  .home__img5, img{
    object-fit: cover;
  }

  /*=====tablet tiny bottom right =====*/
  .home__img6{
    order: 1;
    width: 3%;
    height: 3%;
    top: 30px;
    left: 700px;
  }

  .home__img6, img{
    object-fit: cover;
  }

  /*=====tablet tiny top left =====*/
  .home__img7{
    order: 1;
    width: 3%;
    height: 3%;
    top: -450px;
    left: 150px;
  }

  .home__img7, img{
    object-fit: cover;
  }

  /*=====tablet tiny bottom left =====*/
  .home__img8{
    order: 1;
    width: 4%;
    height: 4%;
    top: -230px;
    left: 50px;
  }

  .home__img8, img{
    object-fit: cover;
  }
}

/* ===== desktop screen size =====*/
/* ===== MEDIA QUERIES =====*/
@media screen and (min-width: 1360px){

  .nav__logo{
    margin-left: 0;
  }

  .nav__list{
    display: flex;
    margin-right: 0;
  }

  .bd-grid{
    margin-left: auto;
    margin-right: auto;
  }

  .home__container{
    justify-content: initial;
    column-gap: 4.5rem
  }

  .home__data{
    position: relative;
    color: var(--first-color-dark);
    text-align: center;
    top: 95%;
    left: 0;
  }

  .home__title{
    font-family: var(--title-font);
    font-size: 5rem;
    letter-spacing: 0.5rem;
    line-height: 1.3;
    margin-bottom: 1rem;
  }
  
  .home__description{
    font-family: var(--body-font);
    font-size: 1rem;
    letter-spacing: 0.5rem;
    margin-bottom: 2.5rem;
  }

  /*===== pill top left =====*/
  .home__img{
    order: 1;
    width: 14%;
    height: 14%;
    top: -150px;
    left: -30px;
  }

  .home__img, img{
    object-fit: cover;
  }

  /*===== pill bottom right =====*/
  .home__img1{
    order: 1;
    width: 15%;
    height: 15%;
    top: 130px;
    left: 800px;
  }

  .home__img1, img{
    object-fit: cover;
  }

  /*===== pill top right =====*/
  .home__img2{
    order: 1;
    width: 11%;
    height: 11%;
    top: -250px;
    left: 970px;
  }

  .home__img2, img{
    object-fit: cover;
  }

  /*=====tablet big top center =====*/
  .home__img3{
    order: 1;
    width: 23%;
    height: 23%;
    top: -500px;
    left: 450px;
  }

  .home__img3, img{
    object-fit: cover;
  }

  /*=====tablet big bottom left =====*/
  .home__img4{
    order: 1;
    width: 33%;
    height: 33%;
    top: -50px;
    left: 30px;
  }

  .home__img4, img{
    object-fit: cover;
  }

  /*=====tablet big middle right =====*/
  .home__img5{
    order: 1;
    width: 25%;
    height: 25%;
    top: -300px;
    left: 1050px;
  }

  .home__img5, img{
    object-fit: cover;
  }

  /*=====tablet tiny bottom right =====*/
  .home__img6{
    order: 1;
    width: 3%;
    height: 3%;
    top: 30px;
    left: 1180px;
  }

  .home__img6, img{
    object-fit: cover;
  }

  /*=====tablet tiny top left =====*/
  .home__img7{
    order: 1;
    width: 3%;
    height: 3%;
    top: -550px;
    left: 200px;
  }

  .home__img7, img{
    object-fit: cover;
  }

  /*=====tablet tiny bottom left =====*/
  .home__img8{
    order: 1;
    width: 4%;
    height: 4%;
    top: -200px;
    left: -60px;
  }

  .home__img8, img{
    object-fit: cover;
  }
}