{% extends 'base.html' %}
{% load static %}  

{% block css_files %}

    <!-- =====BOX ICONS===== -->
    <link href="https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css" rel='stylesheet'>

    <!-- ===== CSS STYLESHEET===== -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">    

{% endblock css_files %}


{% block content %}

    <body class="index">

        <!--===== HEADER =====-->
        <header class="l-header">
            <nav class="nav bd-grid">
                <div>
                    <a href="" class="nav__logo">KRYPTONITE</a>
                </div>
                
                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>

                <div class="nav__menu" id="nav-menu">
                    <div class="nav__close" id="nav-close">
                        <i class='bx bx-x'></i>
                    </div>

                    <ul class="nav__list">
                        <li class="nav__item"><a href="#home" class="nav__link active">About</a></li>
                        <li class="nav__item"><a href={% url 'signup' %} class="nav__link">Sign Up</a></li>
                        <li class="nav__item"><a href={% url 'login' %} class="nav__link">Login</a></li>
                        <li class="nav__item"><a href="#contact" class="nav__link">Contact</a></li>
                    </ul>
                </div> 
            </nav>
        </header>

        <main class="l-main">
            <!--===== HOME =====-->
            <section class="home" id="home">
                <div class="home__container bd-grid">
                    <div class="home__img">
                        <img src="{% static 'images/img1.png' %}" alt="" data-speed="-2" class="move" />
                    </div>
                    <div class="home__img1">
                        <img src="{% static 'images/img2.png' %}" alt="" data-speed="-2" class="move" />
                    </div>
                    <div class="home__img2">
                        <img src="{% static 'images/img3.png' %}" alt="" data-speed="-2" class="move" />
                    </div>
                    <div class="home__img3">
                        <img src="{% static 'images/img4.png' %}" alt="" data-speed="-2" class="move" />
                    </div>
                    <div class="home__img4">
                        <img src="{% static 'images/img5.png' %}" alt="" data-speed="-2" class="move" />
                    </div>
                    <div class="home__img5">
                        <img src="{% static 'images/img6.png' %}" alt="" data-speed="-2" class="move" />
                    </div>
                    <div class="home__img6">
                        <img src="{% static 'images/img7.png' %}" alt="" data-speed="-2" class="move" />
                    </div>
                    <div class="home__img7">
                        <img src="{% static 'images/img8.png' %}" alt="" data-speed="-2" class="move" />
                    </div>
                    <div class="home__img8">
                        <img src="{% static 'images/img9.png' %}" alt="" data-speed="-2" class="move" />
                    </div>

                    <div class="home__data">
                        <h1 class="home__title">KRYPTONITE</h1>
                        <p class="home__description">THE MEDICINE TRACKER WEB APP</p>
                        <a href="#" class="home__button" style="font-weight: bold; font-size: 1rem;">GET STARTED</a>
                    </div>
                </div>
            </section>
        </main>

        <!--===== GSAP =====-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>

        <!--===== MAIN JS =====--> 
        <script src="{% static '/js/main.js' %}"></script>  

    </body>
    

{% endblock content %}