{% extends 'base.html' %}
{% load static %}  

{% block css_files %}

    <link rel="stylesheet" type="text/css"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- ===== CSS STYLESHEET===== -->
    <link rel="stylesheet" href="{% static 'css/dashboard_styles.css' %}">

{% endblock css_files %}


{% block content %}
    <body>
        <div class="container">
            <div class="navbar">
                <div class="logo d">
                    <span class="logoname">KRYPTONITE</span>
                </div>

                <div class="navitem d">

                    <div class="account">
                        <img src="{% static 'images/ToyFaces_Tansparent_BG_47.png' %}" width="60px" height="60px" alt="">
                        <span class="name">Bhuvana</span>
                    </div>
                </div>
            </div>

            <div class="sidebar bg">
                <ul>
            <div class="toggle">
                    <li class=list_items>
                        <img src="{% static 'images/Clock.png' %}" width="30px" height="30px" alt="">
                        <a href="#">REMINDERS</a>  
                    </li>
                
                    <li>
                        <img src="{% static 'images/Cart.png' %}" width="30px" height="30px" alt="">
                        <a href="#">REFILLS</a>
                    </li>

                    <li>
                        <img src="{% static 'images/Graphic.png' %}" width="30px" height="30px" alt="">
                        <a href="#">PROGRESS</a>
                    </li>

                    <li>
                        <img src="{% static 'images/Success.png' %}" width="30px" height="30px" alt="">
                        <a href="#">REWARDS</a>
                    </li>

                    <li>
                        <img src="{% static 'images/Keys.png' %}" width="30px" height="30px" alt="">
                        <a href="#">LOGOUT</a>
                    </li>  
                </div>
                </ul>
            </div>

            <div class="header">
                <div class="tittle">
                    <h1>Welcome back to Kryptonite!</h1>
                </div>
            </div>

            <div class="card1 bg card  row-1">
                <div class="box">
                    <div class="logo">
                        <img src="{% static 'images/img1.png' %}" width="30px" height="30px" alt="">
                    </div>

                    <div class="content">
                        <h1>UPCOMING REMINDER</h1>
                        <h2>ShellCal</h2>
                        <h3>12:30 PM | A/F | 1 dose</h3>
                        <a href="#">Mark as taken</a>
                    </div>
                </div>
            </div>

            <div class="card2 bg card  row-1">
                <div class="box">
                    <div class="logo">
                        <img src="{% static 'images/Clock.png' %}" width="30px" height="30px" alt="">
                    </div>

                    <div class="content">
                        <h1>Add a Reminder</h1>
                        <h2></h2>
                        <h3></h3> 
                    </div>
                </div>
            </div>

            <div class="card3 bg card  row-1">
                <div class="box">
                    <div class="logo">
                        <img src="{% static 'images/img1.png' %}" width="30px" height="30px" alt="">
                    </div>

                    <div class="content">
                        <h1>Label</h1>
                        <h2>Content</h2>
                        <h3>Content</h3>
                        <a href="#">Content</a>
                    </div>
                </div>
            </div>

            <div class="graph bg">
                <div class="chart">
                    <div class="status">Your Adherence</div>

                    <div class="box">
                        <li style="--i:0"><span class="text">july 10</span></li>
                        <li style="--i:1"><span class="text">july 11</span></li>
                        <li style="--i:2"><span class="text">july 12</span></li>
                        <li style="--i:3"><span class="text">july 13</span></li>
                        <li style="--i:4"><span class="text">july 14</span></li>
                        <li style="--i:5"><span class="text">july 15</span></li>
                    </div>

                </div>
            </div>

            <div class="calendar">
                
            </div>

            <div class="card4 bg card row-2">
                <div class="box">
                    <div class="logo">
                        <img src="{% static 'images/img1.png' %}" width="30px" height="30px" alt="">
                    </div>

                    <div class="content">
                        <h1>UPCOMING REFILLS</h1>
                        <h2>ShellCal</h2>
                        <h3>3 pills remaining</h3>
                    </div>
                </div>
            </div>

            <div class="card5 bg card row-2">
                <div class="box">
                    <div class="logo">
                        <img src="{% static 'images/img1.png' %}" width="30px" height="30px" alt="">
                    </div>

                    <div class="content">
                        <h1>Label</h1>
                        <h2>Content</h2>
                    </div>
                </div>
            </div>

            <div class="reward">

            </div>
        </div>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
            $(document).ready(function(){
                $(".togglebtn").click(function(){
                    $(".toggle").slideToggle();
                });

                $(".togglebtn").click(function(){
                    $(".togglebtn").toggleClass("active");
                });
            });
    </script>


    </body>   

    

{% endblock content %}